<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cifradores Clásicos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
</head>

<body>
    <header class="encabezado">
        <h1>Cifradores Clásicos</h1>
        <p class="subtitulo">Una aplicación web para cifrado y descifrado usando métodos clásicos</p>
    </header>

    <main>
        <div class="selectorCifrado">
            <label for="tipoCifrado">Seleccionar método de cifrado:</label>
            <select id="tipoCifrado" class="dropdown">
                <option value="adfgvx">Cifrado ADFGVX</option>
                <option value="afin">Cifrado Afín</option>
                <option value="atbash">Cifrado Atbash</option>
                <option value="cesar">Cifrado César</option>
                <option value="hill">Cifrado Hill</option>
                <option value="playFair">Cifrado PlayFair</option>
                <option value="railFence">Cifrado Rail Fence</option>
                <option value="transposicionColumna">Transposición por Columna</option>
                <option value="transposicionFilas">Transposición por Filas</option>
                <option value="vernam">Cifrado Vernam</option>
                <option value="vigenere">Cifrado Vigenère</option>
            </select>
        </div>
        <section class="seccion">
            <h2>Cifrado</h2>
            <form id="formCifrado" class="formulario">
                <div class="grupoFormulario">
                    <label for="textoPlano">Texto a cifrar:</label>
                    <textarea id="textoPlano" class="textoAfin" placeholder="Ingrese el texto para cifrar"
                        required></textarea>
                    <textarea id="textoPlanoAdfgvx" class="textoAdfgvx" style="display: none;"
                        placeholder="Ingrese el texto para cifrar" required></textarea>
                    <textarea id="textoPlanoPlayFair" class="textoPlayFair" style="display: none;"
                        placeholder="Ingrese el texto para cifrar" required></textarea>
                    <textarea id="textoPlanoCesar" class="textoCesar" style="display: none;"
                        placeholder="Ingrese el texto para cifrar" required></textarea>
                    <textarea id="textoPlanoHill" class="textoHill" style="display: none;"
                        placeholder="Ingrese el texto para cifrar" required></textarea>
                    <textarea id="textoPlanoVernam" class="textoVernam" style="display: none;"
                        placeholder="Ingrese el texto para cifrar" required></textarea>
                    <textarea id="textoPlanoVigenere" class="textoVigenere" style="display: none;"
                        placeholder="Ingrese el texto para cifrar" required></textarea>
                    <textarea id="textoPlanoTransposicionColumna" class="textoTransposicionColumna"
                        style="display: none;" placeholder="Ingrese el texto para cifrar" required></textarea>
                    <textarea id="textoPlanoAtbash" class="textoAtbash solo-atbash" style="display: none;"
                        placeholder="Ingrese el texto para cifrar" required></textarea>
                    <textarea id="textoPlanoRailFence" class="textoRailFence" style="display: none;"
                        placeholder="Ingrese el texto para cifrar" required></textarea>
                    <textarea id="textoPlanoTransposicionFilas" class="textoTransposicionFilas" style="display: none;"
                        placeholder="Ingrese el texto para cifrar" required></textarea>
                    <div id="camposAfin" class="campos-cifrado">
                        <div class="formGrid">
                            <div class="grupoFormulario medio">
                                <label for="valorACifrado">Clave A:</label>
                                <input type="number" id="valorACifrado" min="1" placeholder="Valor de A" required>
                                <small>A debe ser coprimo con 26</small>
                            </div>
                            <div class="grupoFormulario medio">
                                <label for="valorBCifrado">Clave B:</label>
                                <input type="number" id="valorBCifrado" min="0" max="25" placeholder="Valor de B"
                                    required>
                                <small>B debe estar entre 0 y 25</small>
                            </div>
                        </div>
                    </div>

                    <!-- Campos para Cifrado ADFGVX -->
                    <div id="camposAdfgvx" class="campos-cifrado" style="display: none;">
                        <div class="grupoFormulario">
                            <label for="matrizAdfgvxCifrado">Matriz (36 caracteres):</label>
                            <input type="text" id="matrizAdfgvxCifrado"
                                placeholder="Ingrese los 36 caracteres para la matriz" maxlength="36" required>
                            <small>La matriz debe contener 36 caracteres únicos (letras y números)</small>
                            <button type="button" id="generarMatrizAdfgvx" class="boton botonSecundario">Generar matriz
                                aleatoria</button>
                        </div>
                        <div class="grupoFormulario">
                            <label for="claveAdfgvxCifrado">Clave de transposición:</label>
                            <input type="text" id="claveAdfgvxCifrado" placeholder="Ingrese la clave de transposición"
                                required>
                            <small>La clave debe contener solo letras y sin repeticiones</small>
                        </div>
                    </div>

                    <div id="camposPlayFair" class="campos-cifrado" style="display: none;">
                        <div class="grupoFormulario">
                            <label for="clavePlayFairCifrado">Clave:</label>
                            <input type="text" id="clavePlayFairCifrado"
                                placeholder="Ingrese la clave para el cifrado PlayFair" required>
                            <small>La clave debe contener solo letras</small>
                        </div>
                    </div>

                    <!-- Campos para Cifrado César -->
                    <div id="camposCesar" class="campos-cifrado" style="display: none;">
                        <div class="grupoFormulario">
                            <label for="desplazamientoCifrado">Desplazamiento:</label>
                            <input type="number" id="desplazamientoCifrado" min="1" max="25"
                                placeholder="Ingrese el desplazamiento (1-25)" required>
                            <small>El desplazamiento debe ser un número entre 1 y 25</small>
                        </div>
                    </div>

                    <!-- Campos para Cifrado Hill -->
                    <div id="camposHill" class="campos-cifrado" style="display: none;">
                        <div class="grupoFormulario">
                            <label for="matrizHillCifrado">Matriz Clave:</label>
                            <textarea id="matrizHillCifrado" placeholder="Ingrese la matriz clave para el cifrado Hill"
                                required></textarea>
                            <small>Ingrese la matriz como números separados por espacios. Ejemplo para matriz 2x2:
                                <br>1 2
                                <br>3 4</small>
                        </div>
                    </div>

                    <!-- Campos para Cifrado Vernam -->
                    <div id="camposVernam" class="campos-cifrado" style="display: none;">
                        <div class="grupoFormulario">
                            <p>El cifrado Vernam generará automáticamente una clave aleatoria.</p>
                            <small>Esta clave será necesaria para descifrar el mensaje posteriormente.</small>
                        </div>
                    </div>

                    <!-- Campos para Cifrado Vigenère -->
                    <div id="camposVigenere" class="campos-cifrado" style="display: none;">
                        <div class="grupoFormulario">
                            <label for="claveVigenereCifrado">Clave:</label>
                            <input type="text" id="claveVigenereCifrado"
                                placeholder="Ingrese la clave para el cifrado Vigenère" required>
                            <small>La clave debe contener solo letras</small>
                        </div>
                    </div>

                    <!-- Campos para Cifrado Transposición por Columna -->
                    <div id="transposicionColumnaInputs" class="campos-cifrado" style="display: none;">
                        <div class="grupoFormulario">
                            <label for="claveTransposicionColumnaCifrado">Clave:</label>
                            <input type="number" id="claveTransposicionColumnaCifrado" min="2"
                                placeholder="Ingrese la clave (número entero mayor a 1)" required>
                            <small>La clave debe ser un número entero mayor a 1</small>
                        </div>
                    </div>

                    <!-- Campos para Cifrado Rail Fence -->
                    <div id="camposRailFence" class="campos-cifrado" style="display: none;">
                        <div class="grupoFormulario">
                            <label for="claveRailFenceCifrado">Número de rieles:</label>
                            <input type="number" id="claveRailFenceCifrado" min="2"
                                placeholder="Ingrese el número de rieles (mayor a 1)" required>
                            <small>El número de rieles debe ser un entero mayor a 1</small>
                        </div>
                    </div>

                    <!-- Campos para Cifrado Transposición por Filas -->
                    <div id="transposicionFilasInputs" class="campos-cifrado" style="display: none;">
                        <div class="grupoFormulario">
                            <label for="claveTransposicionFilasCifrado">Clave:</label>
                            <input type="number" id="claveTransposicionFilasCifrado" min="2"
                                placeholder="Ingrese la clave (número entero mayor a 1)" required>
                            <small>La clave debe ser un número entero mayor a 1</small>
                        </div>
                    </div>
                    <div id="errorCifrado" class="mensajeError"></div>
                    <div id="cargandoCifrado" class="indicadorCargando">
                        <div class="spinner"></div><span>Procesando...</span>
                    </div>
                    <button type="button" id="botonCifrar" class="boton">Cifrar</button>
                    <div class="resultados">
                        <h3>Resultado:</h3>
                        <div id="resultadoCifrado" class="resultadoTexto"></div>
                    </div>
            </form>
        </section>

        <section class="seccion">
            <h2>Descifrado</h2>
            <form id="formDescifrado" class="formulario">
                <div class="grupoFormulario">
                    <label for="textoCifrado">Texto a descifrar:</label>
                    <textarea id="textoCifrado" class="textoAfin" placeholder="Ingrese el texto para descifrar"
                        required></textarea>
                    <textarea id="textoCifradoAdfgvx" class="textoAdfgvx" style="display: none;"
                        placeholder="Ingrese el texto para descifrar" required></textarea>
                    <textarea id="textoCifradoPlayFair" class="textoPlayFair" style="display: none;"
                        placeholder="Ingrese el texto para descifrar" required></textarea>
                    <textarea id="textoCifradoCesar" class="textoCesar" style="display: none;"
                        placeholder="Ingrese el texto para descifrar" required></textarea>
                    <textarea id="textoCifradoHill" class="textoHill" style="display: none;"
                        placeholder="Ingrese el texto para descifrar" required></textarea>
                    <textarea id="textoCifradoVernam" class="textoVernam" style="display: none;"
                        placeholder="Ingrese el texto cifrado para descifrar" required></textarea>
                    <textarea id="textoCifradoVigenere" class="textoVigenere" style="display: none;"
                        placeholder="Ingrese el texto cifrado para descifrar" required></textarea>
                    <textarea id="textoCifradoTransposicionColumna" class="textoTransposicionColumna"
                        style="display: none;" placeholder="Ingrese el texto cifrado para descifrar"
                        required></textarea>
                    <textarea id="textoCifradoAtbash" class="textoAtbash solo-atbash" style="display: none;"
                        placeholder="Ingrese el texto cifrado para descifrar" required></textarea>
                    <textarea id="textoCifradoRailFence" class="textoRailFence" style="display: none;"
                        placeholder="Ingrese el texto cifrado para descifrar" required></textarea>
                    <textarea id="textoCifradoTransposicionFilas" class="textoTransposicionFilas" style="display: none;"
                        placeholder="Ingrese el texto cifrado para descifrar" required></textarea>
                </div>
                <!-- Campos para Descifrado Afín -->
                <div id="camposAfinDescifrado" class="campos-cifrado">
                    <div class="formGrid">
                        <div class="grupoFormulario medio">
                            <label for="valorADescifrado">Clave A:</label>
                            <input type="number" id="valorADescifrado" min="1" placeholder="Valor de A" required>
                            <small>A debe ser coprimo con 26</small>
                        </div>
                        <div class="grupoFormulario medio">
                            <label for="valorBDescifrado">Clave B:</label>
                            <input type="number" id="valorBDescifrado" min="0" max="25" placeholder="Valor de B"
                                required>
                            <small>B debe estar entre 0 y 25</small>
                        </div>
                    </div>
                </div>

                <!-- Campos para Descifrado ADFGVX -->
                <div id="camposAdfgvxDescifrado" class="campos-cifrado" style="display: none;">
                    <div class="grupoFormulario">
                        <label for="matrizAdfgvxDescifrado">Matriz (36 caracteres):</label>
                        <input type="text" id="matrizAdfgvxDescifrado"
                            placeholder="Ingrese los 36 caracteres para la matriz" maxlength="36" required>
                        <small>La matriz debe contener 36 caracteres únicos (letras y números)</small>
                        <button type="button" id="generarMatrizAdfgvxDescifrado" class="boton botonSecundario">Generar
                            matriz aleatoria</button>
                    </div>
                    <div class="grupoFormulario">
                        <label for="claveAdfgvxDescifrado">Clave de transposición:</label>
                        <input type="text" id="claveAdfgvxDescifrado" placeholder="Ingrese la clave de transposición"
                            required>
                        <small>La clave debe contener solo letras y sin repeticiones</small>
                    </div>
                </div>

                <!-- Campos para Descifrado PlayFair -->
                <div id="camposPlayFairDescifrado" class="campos-cifrado" style="display: none;">
                    <div class="grupoFormulario">
                        <label for="clavePlayFairDescifrado">Clave:</label>
                        <input type="text" id="clavePlayFairDescifrado"
                            placeholder="Ingrese la clave para el descifrado PlayFair" required>
                        <small>La clave debe contener solo letras</small>
                    </div>
                </div>

                <!-- Campos para Descifrado César -->
                <div id="camposCesarDescifrado" class="campos-cifrado" style="display: none;">
                    <div class="grupoFormulario">
                        <label for="desplazamientoDescifrado">Desplazamiento:</label>
                        <input type="number" id="desplazamientoDescifrado" min="1" max="25"
                            placeholder="Ingrese el desplazamiento (1-25)" required>
                        <small>El desplazamiento debe ser un número entre 1 y 25</small>
                    </div>
                </div>

                <!-- Campos para Descifrado Hill -->
                <div id="camposHillDescifrado" class="campos-cifrado" style="display: none;">
                    <div class="grupoFormulario">
                        <label for="matrizHillDescifrado">Matriz Clave:</label>
                        <textarea id="matrizHillDescifrado"
                            placeholder="Ingrese la matriz clave para el descifrado Hill" required></textarea>
                        <small>Ingrese la matriz como números separados por espacios. Ejemplo para matriz 2x2:
                            <br>1 2
                            <br>3 4</small>
                    </div>
                </div>

                <!-- Campos para Descifrado Vernam -->
                <div id="camposVernamDescifrado" class="campos-cifrado" style="display: none;">
                    <div class="grupoFormulario">
                        <label for="claveVernamDescifrado">Clave:</label>
                        <textarea id="claveVernamDescifrado"
                            placeholder="Ingrese la clave que se generó durante el cifrado" required></textarea>
                        <small>La clave debe ser exactamente la misma que se generó durante el proceso de
                            cifrado</small>
                    </div>
                </div>

                <!-- Campos para Descifrado Vigenère -->
                <div id="camposVigenereDescifrado" class="campos-cifrado" style="display: none;">
                    <div class="grupoFormulario">
                        <label for="claveVigenereDescifrado">Clave:</label>
                        <input type="text" id="claveVigenereDescifrado"
                            placeholder="Ingrese la clave para el descifrado Vigenère" required>
                        <small>La clave debe contener solo letras</small>
                    </div>
                </div>

                <!-- Campos para Descifrado Transposición por Columna -->
                <div id="transposicionColumnaDescifradoInputs" class="campos-cifrado" style="display: none;">
                    <div class="grupoFormulario">
                        <label for="claveTransposicionColumnaDescifrado">Clave:</label>
                        <input type="number" id="claveTransposicionColumnaDescifrado" min="2"
                            placeholder="Ingrese la clave (número entero mayor a 1)" required>
                        <small>La clave debe ser un número entero mayor a 1</small>
                    </div>
                </div>

                <!-- Campos para Descifrado Rail Fence -->
                <div id="camposRailFenceDescifrado" class="campos-cifrado" style="display: none;">
                    <div class="grupoFormulario">
                        <label for="claveRailFenceDescifrado">Número de rieles:</label>
                        <input type="number" id="claveRailFenceDescifrado" min="2"
                            placeholder="Ingrese el número de rieles (mayor a 1)" required>
                        <small>El número de rieles debe ser un entero mayor a 1</small>
                    </div>
                </div>
                </div>

                <!-- Campos para Descifrado Transposición por Filas -->
                <div id="transposicionFilasDescifradoInputs" class="campos-cifrado" style="display: none;">
                    <div class="grupoFormulario">
                        <label for="claveTransposicionFilasDescifrado">Clave:</label>
                        <input type="number" id="claveTransposicionFilasDescifrado" min="2"
                            placeholder="Ingrese la clave (número entero mayor a 1)" required>
                        <small>La clave debe ser un número entero mayor a 1</small>
                    </div>
                </div>
                <div id="errorDescifrado" class="mensajeError"></div>
                <div id="cargandoDescifrado" class="indicadorCargando">
                    <div class="spinner"></div><span>Procesando...</span>
                </div>
                <button type="button" id="botonDescifrar" class="boton">Descifrar</button>
                <div class="resultados">
                    <h3>Resultado:</h3>
                    <div id="resultadoDescifrado" class="resultadoTexto"></div>
                </div>
            </form>
        </section>

        <section class="seccion" id="seccionFuerzaBruta">
            <h2>Descifrado por Fuerza Bruta</h2>
            <form id="formFuerzaBruta" class="formulario">
                <div class="grupoFormulario">
                    <label for="textoFuerzaBruta">Texto cifrado:</label>
                    <textarea id="textoFuerzaBruta"
                        placeholder="Ingrese el texto cifrado para descifrar por fuerza bruta" required></textarea>
                </div>

                <!-- Campos adicionales para Fuerza Bruta Hill -->
                <div id="campos-fuerza-bruta-hill" class="campos-fuerza-bruta-hill" style="display: none;">
                    <div class="grupoFormulario">
                        <label for="textoOriginalFuerzaBruta">Texto original conocido:</label>
                        <textarea id="textoOriginalFuerzaBruta"
                            placeholder="Ingrese una porción del texto original que conoce" required></textarea>
                        <small>Este texto se utilizará para verificar si una clave candidata es correcta</small>
                    </div>
                    <div class="grupoFormulario">
                        <label for="claveInicialFuerzaBruta">Matriz clave inicial:</label>
                        <textarea id="claveInicialFuerzaBruta"
                            placeholder="Ingrese una matriz inicial para comenzar la búsqueda" required></textarea>
                        <small>Ingrese la matriz como números separados por espacios. Ejemplo para matriz 2x2:
                            <br>1 2
                            <br>3 4
                            <br>Esta será la matriz de partida para el algoritmo de fuerza bruta</small>
                    </div>
                </div>

                <!-- Campos para Fuerza Bruta Transposición por Columna -->
                <div id="transposicionColumnaFuerzaBruta" class="campos-fuerza-bruta" style="display: none;">
                    <div class="formGrid">
                        <div class="grupoFormulario medio">
                            <label for="claveInicioTransposicionColumna">Clave inicio:</label>
                            <input type="number" id="claveInicioTransposicionColumna" min="2"
                                placeholder="Valor inicial" required>
                            <small>Valor inicial para la búsqueda</small>
                        </div>
                        <div class="grupoFormulario medio">
                            <label for="claveFinTransposicionColumna">Clave fin:</label>
                            <input type="number" id="claveFinTransposicionColumna" min="2" placeholder="Valor final"
                                required>
                            <small>Valor final para la búsqueda</small>
                        </div>
                    </div>
                </div>

                <!-- Campos para Fuerza Bruta Rail Fence -->
                <div id="railFenceFuerzaBruta" class="campos-fuerza-bruta" style="display: none;">
                    <div class="formGrid">
                        <div class="grupoFormulario medio">
                            <label for="claveInicioRailFence">Rieles inicio:</label>
                            <input type="number" id="claveInicioRailFence" min="2" placeholder="Valor inicial" required>
                            <small>Valor inicial para la búsqueda</small>
                        </div>
                        <div class="grupoFormulario medio">
                            <label for="claveFinRailFence">Rieles fin:</label>
                            <input type="number" id="claveFinRailFence" min="2" placeholder="Valor final" required>
                            <small>Valor final para la búsqueda</small>
                        </div>
                    </div>
                </div>

                <!-- Campos para Fuerza Bruta Transposición por Filas -->
                <div id="transposicionFilasFuerzaBruta" class="campos-fuerza-bruta" style="display: none;">
                    <div class="formGrid">
                        <div class="grupoFormulario medio">
                            <label for="claveInicioTransposicionFilas">Clave inicio:</label>
                            <input type="number" id="claveInicioTransposicionFilas" min="2" placeholder="Valor inicial"
                                required>
                            <small>Valor inicial para la búsqueda</small>
                        </div>
                        <div class="grupoFormulario medio">
                            <label for="claveFinTransposicionFilas">Clave fin:</label>
                            <input type="number" id="claveFinTransposicionFilas" min="2" placeholder="Valor final"
                                required>
                            <small>Valor final para la búsqueda</small>
                        </div>
                    </div>
                </div>
                <div id="errorFuerzaBruta" class="mensajeError"></div>
                <div id="cargandoFuerzaBruta" class="indicadorCargando">
                    <div class="spinner"></div><span>Procesando...</span>
                </div>
                <button type="button" id="botonFuerzaBruta" class="boton">Descifrar por Fuerza Bruta</button>
                <div class="resultados">
                    <h3>Posibles resultados:</h3>
                    <div id="resultadoFuerzaBruta" class="resultadoTexto contenedorLista">
                        <ul id="listaResultados" class="listaResultados"></ul>
                    </div>
                </div>
            </form>
        </section>
    </main>

    <footer class="piePagina">
        <p>Cifradores Clásicos &copy; 2025 - Seguridad Informática Grupo 3</p>
    </footer>

    <script>
        // Script para cambiar los campos mostrados según el cifrado seleccionado
        document.addEventListener('DOMContentLoaded', function () {
            const tipoCifrado = document.getElementById('tipoCifrado');
            const camposAfin = document.getElementById('camposAfin');
            const camposAdfgvx = document.getElementById('camposAdfgvx');
            const camposPlayFair = document.getElementById('camposPlayFair');
            const camposCesar = document.getElementById('camposCesar');
            const camposHill = document.getElementById('camposHill');
            const camposVernam = document.getElementById('camposVernam');
            const camposVigenere = document.getElementById('camposVigenere');
            const transposicionColumnaInputs = document.getElementById('transposicionColumnaInputs');
            const transposicionColumnaDescifradoInputs = document.getElementById('transposicionColumnaDescifradoInputs');
            const camposRailFence = document.getElementById('camposRailFence');
            const camposRailFenceDescifrado = document.getElementById('camposRailFenceDescifrado');
            const textoPlanoAtbash = document.getElementById('textoPlanoAtbash');
            const textoCifradoAtbash = document.getElementById('textoCifradoAtbash');
            const textoCifrado = document.getElementById('textoCifrado'); // Agregada esta línea para garantizar que textoCifrado esté definido
            const camposAdfgvxDescifrado = document.getElementById('camposAdfgvxDescifrado');
            const camposAfinDescifrado = document.getElementById('camposAfinDescifrado');
            const camposPlayFairDescifrado = document.getElementById('camposPlayFairDescifrado');
            const camposCesarDescifrado = document.getElementById('camposCesarDescifrado');
            const camposHillDescifrado = document.getElementById('camposHillDescifrado');
            const camposVernamDescifrado = document.getElementById('camposVernamDescifrado');
            const camposVigenereDescifrado = document.getElementById('camposVigenereDescifrado');
            const seccionFuerzaBruta = document.getElementById('seccionFuerzaBruta');
            const textoPlano = document.getElementById('textoPlano');
            const textoPlanoAdfgvx = document.getElementById('textoPlanoAdfgvx');
            const textoPlanoPlayFair = document.getElementById('textoPlanoPlayFair');
            const textoPlanoCesar = document.getElementById('textoPlanoCesar');
            const textoPlanoHill = document.getElementById('textoPlanoHill');
            const textoPlanoVernam = document.getElementById('textoPlanoVernam');
            const textoPlanoVigenere = document.getElementById('textoPlanoVigenere');
            const textoPlanoTransposicionColumna = document.getElementById('textoPlanoTransposicionColumna');
            const textoPlanoRailFence = document.getElementById('textoPlanoRailFence');
            const textoCifradoAdfgvx = document.getElementById('textoCifradoAdfgvx');
            const textoCifradoPlayFair = document.getElementById('textoCifradoPlayFair');
            const textoCifradoCesar = document.getElementById('textoCifradoCesar');
            const textoCifradoHill = document.getElementById('textoCifradoHill');
            const textoCifradoVernam = document.getElementById('textoCifradoVernam');
            const textoCifradoVigenere = document.getElementById('textoCifradoVigenere');
            const textoCifradoTransposicionColumna = document.getElementById('textoCifradoTransposicionColumna');
            const textoCifradoRailFence = document.getElementById('textoCifradoRailFence');
            // Establecer la visualización inicial basada en el valor seleccionado
            actualizarInterfazSegunCifrado(tipoCifrado.value);

            tipoCifrado.addEventListener('change', function () {
                actualizarInterfazSegunCifrado(this.value);
            });

            const transposicionFilasInputs = document.getElementById('transposicionFilasInputs');
            const transposicionFilasDescifradoInputs = document.getElementById('transposicionFilasDescifradoInputs');
            const textoPlanoTransposicionFilas = document.getElementById('textoPlanoTransposicionFilas');
            const textoCifradoTransposicionFilas = document.getElementById('textoCifradoTransposicionFilas');

            function actualizarInterfazSegunCifrado(valor) {
                if (valor === 'afin') {
                    camposAfin.style.display = 'block';
                    camposAdfgvx.style.display = 'none';
                    camposPlayFair.style.display = 'none';
                    camposAfinDescifrado.style.display = 'block';
                    camposAdfgvxDescifrado.style.display = 'none';
                    camposPlayFairDescifrado.style.display = 'none';
                    seccionFuerzaBruta.style.display = 'block';
                    document.getElementById('campos-fuerza-bruta-hill').style.display = 'none'; // Ocultar campos adicionales para fuerza bruta Hill
                    textoPlano.style.display = 'block';
                    textoPlanoAdfgvx.style.display = 'none';
                    textoPlanoPlayFair.style.display = 'none';
                    textoCifrado.style.display = 'block';
                    textoCifradoAdfgvx.style.display = 'none';
                    textoCifradoPlayFair.style.display = 'none';
                } else if (valor === 'adfgvx') {
                    camposAfin.style.display = 'none';
                    camposAdfgvx.style.display = 'block';
                    camposPlayFair.style.display = 'none';
                    camposAfinDescifrado.style.display = 'none';
                    camposAdfgvxDescifrado.style.display = 'block';
                    camposPlayFairDescifrado.style.display = 'none';
                    seccionFuerzaBruta.style.display = 'none';
                    document.getElementById('campos-fuerza-bruta-hill').style.display = 'none';
                    textoPlano.style.display = 'none';
                    textoPlanoAdfgvx.style.display = 'block';
                    textoPlanoPlayFair.style.display = 'none';
                    textoCifrado.style.display = 'none';
                    textoCifradoAdfgvx.style.display = 'block';
                    textoCifradoPlayFair.style.display = 'none';
                } else if (valor === 'playFair') {
                    camposAfin.style.display = 'none';
                    camposAdfgvx.style.display = 'none';
                    camposPlayFair.style.display = 'block';
                    camposAfinDescifrado.style.display = 'none';
                    camposAdfgvxDescifrado.style.display = 'none';
                    camposPlayFairDescifrado.style.display = 'block';
                    seccionFuerzaBruta.style.display = 'block'; // Mostrar fuerza bruta para PlayFair
                    document.getElementById('campos-fuerza-bruta-hill').style.display = 'none'; // Ocultar campos adicionales para fuerza bruta Hill
                    textoPlano.style.display = 'none';
                    textoPlanoAdfgvx.style.display = 'none';
                    textoPlanoPlayFair.style.display = 'block';
                    textoCifrado.style.display = 'none';
                    textoCifradoAdfgvx.style.display = 'none';
                    textoCifradoPlayFair.style.display = 'block';
                } else if (valor === 'cesar') {
                    camposAfin.style.display = 'none';
                    camposAdfgvx.style.display = 'none';
                    camposPlayFair.style.display = 'none';
                    camposCesar.style.display = 'block';
                    camposAfinDescifrado.style.display = 'none';
                    camposAdfgvxDescifrado.style.display = 'none';
                    camposPlayFairDescifrado.style.display = 'none';
                    camposCesarDescifrado.style.display = 'block';
                    seccionFuerzaBruta.style.display = 'block'; // Mostrar fuerza bruta para César
                    document.getElementById('campos-fuerza-bruta-hill').style.display = 'none'; // Ocultar campos adicionales para fuerza bruta Hill
                    textoPlano.style.display = 'none';
                    textoPlanoAdfgvx.style.display = 'none';
                    textoPlanoPlayFair.style.display = 'none';
                    textoPlanoCesar.style.display = 'block';
                    textoCifrado.style.display = 'none';
                    textoCifradoAdfgvx.style.display = 'none';
                    textoCifradoPlayFair.style.display = 'none';
                    textoCifradoCesar.style.display = 'block';
                } else if (valor === 'hill') {
                    camposAfin.style.display = 'none';
                    camposAdfgvx.style.display = 'none';
                    camposPlayFair.style.display = 'none';
                    camposCesar.style.display = 'none';
                    camposHill.style.display = 'block';
                    camposAfinDescifrado.style.display = 'none';
                    camposAdfgvxDescifrado.style.display = 'none';
                    camposPlayFairDescifrado.style.display = 'none';
                    camposCesarDescifrado.style.display = 'none';
                    camposHillDescifrado.style.display = 'block';
                    seccionFuerzaBruta.style.display = 'block'; // Mostrar fuerza bruta para Hill
                    document.getElementById('campos-fuerza-bruta-hill').style.display = 'block'; // Mostrar campos adicionales para fuerza bruta Hill
                    textoPlano.style.display = 'none';
                    textoPlanoAdfgvx.style.display = 'none';
                    textoPlanoPlayFair.style.display = 'none';
                    textoPlanoCesar.style.display = 'none';
                    textoPlanoHill.style.display = 'block';
                    textoCifrado.style.display = 'none';
                    textoCifradoAdfgvx.style.display = 'none';
                    textoCifradoPlayFair.style.display = 'none';
                    textoCifradoCesar.style.display = 'none';
                    textoCifradoHill.style.display = 'block';
                } else if (valor === 'vernam') {
                    camposAfin.style.display = 'none';
                    camposAdfgvx.style.display = 'none';
                    camposPlayFair.style.display = 'none';
                    camposCesar.style.display = 'none';
                    camposHill.style.display = 'none';
                    camposVernam.style.display = 'block';
                    camposAfinDescifrado.style.display = 'none';
                    camposAdfgvxDescifrado.style.display = 'none';
                    camposPlayFairDescifrado.style.display = 'none';
                    camposCesarDescifrado.style.display = 'none';
                    camposHillDescifrado.style.display = 'none';
                    camposVernamDescifrado.style.display = 'block';
                    seccionFuerzaBruta.style.display = 'none'; // Ocultar fuerza bruta para Vernam
                    document.getElementById('campos-fuerza-bruta-hill').style.display = 'none'; // Ocultar campos adicionales para fuerza bruta Hill
                    textoPlano.style.display = 'none';
                    textoPlanoAdfgvx.style.display = 'none';
                    textoPlanoPlayFair.style.display = 'none';
                    textoPlanoCesar.style.display = 'none';
                    textoPlanoHill.style.display = 'none';
                    textoPlanoVernam.style.display = 'block';
                    textoCifrado.style.display = 'none';
                    textoCifradoAdfgvx.style.display = 'none';
                    textoCifradoPlayFair.style.display = 'none';
                    textoCifradoCesar.style.display = 'none';
                    textoCifradoHill.style.display = 'none';
                    textoCifradoVernam.style.display = 'block';
                } else if (valor === 'vigenere') {
                    camposAfin.style.display = 'none';
                    camposAdfgvx.style.display = 'none';
                    camposPlayFair.style.display = 'none';
                    camposCesar.style.display = 'none';
                    camposHill.style.display = 'none';
                    camposVernam.style.display = 'none';
                    camposVigenere.style.display = 'block';
                    camposAfinDescifrado.style.display = 'none';
                    camposAdfgvxDescifrado.style.display = 'none';
                    camposPlayFairDescifrado.style.display = 'none';
                    camposCesarDescifrado.style.display = 'none';
                    camposHillDescifrado.style.display = 'none';
                    camposVernamDescifrado.style.display = 'none';
                    camposVigenereDescifrado.style.display = 'block';
                    seccionFuerzaBruta.style.display = 'block'; // Mostrar fuerza bruta para Vigenère
                    document.getElementById('campos-fuerza-bruta-hill').style.display = 'none'; // Ocultar campos adicionales para fuerza bruta Hill
                    textoPlano.style.display = 'none';
                    textoPlanoAdfgvx.style.display = 'none';
                    textoPlanoPlayFair.style.display = 'none';
                    textoPlanoCesar.style.display = 'none';
                    textoPlanoHill.style.display = 'none';
                    textoPlanoVernam.style.display = 'none';
                    textoPlanoVigenere.style.display = 'block';
                    textoCifrado.style.display = 'none';
                    textoCifradoAdfgvx.style.display = 'none';
                    textoCifradoPlayFair.style.display = 'none';
                    textoCifradoCesar.style.display = 'none';
                    textoCifradoHill.style.display = 'none';
                    textoCifradoVernam.style.display = 'none';
                    textoCifradoVigenere.style.display = 'block';
                } else if (valor === 'transposicionColumna') {
                    camposAfin.style.display = 'none';
                    camposAdfgvx.style.display = 'none';
                    camposPlayFair.style.display = 'none';
                    camposCesar.style.display = 'none';
                    camposHill.style.display = 'none';
                    camposVernam.style.display = 'none';
                    camposVigenere.style.display = 'none';
                    transposicionColumnaInputs.style.display = 'block';
                    camposAfinDescifrado.style.display = 'none';
                    camposAdfgvxDescifrado.style.display = 'none';
                    camposPlayFairDescifrado.style.display = 'none';
                    camposCesarDescifrado.style.display = 'none';
                    camposHillDescifrado.style.display = 'none';
                    camposVernamDescifrado.style.display = 'none';
                    camposVigenereDescifrado.style.display = 'none';
                    transposicionColumnaDescifradoInputs.style.display = 'block';
                    seccionFuerzaBruta.style.display = 'block'; // Mostrar fuerza bruta para Transposición por Columna
                    document.getElementById('campos-fuerza-bruta-hill').style.display = 'none'; // Ocultar campos adicionales para fuerza bruta Hill
                    document.getElementById('transposicionColumnaFuerzaBruta').style.display = 'block'; // Mostrar campos para fuerza bruta Transposición por Columna
                    document.getElementById('transposicionFilasFuerzaBruta').style.display = 'none'; // Ocultar campos para fuerza bruta Transposición por Filas
                    document.getElementById('railFenceFuerzaBruta').style.display = 'none'; // Ocultar campos para fuerza bruta Rail Fence
                    textoPlano.style.display = 'none';
                    textoPlanoAdfgvx.style.display = 'none';
                    textoPlanoPlayFair.style.display = 'none';
                    textoPlanoCesar.style.display = 'none';
                    textoPlanoHill.style.display = 'none';
                    textoPlanoVernam.style.display = 'none';
                    textoPlanoVigenere.style.display = 'none';
                    textoPlanoTransposicionColumna.style.display = 'block';
                    textoCifrado.style.display = 'none';
                    textoCifradoAdfgvx.style.display = 'none';
                    textoCifradoPlayFair.style.display = 'none';
                    textoCifradoCesar.style.display = 'none';
                    textoCifradoHill.style.display = 'none';
                    textoCifradoVernam.style.display = 'none';
                    textoCifradoVigenere.style.display = 'none';
                    textoCifradoTransposicionColumna.style.display = 'block';
                } else if (valor === 'atbash') {
                    camposAfin.style.display = 'none';
                    camposAdfgvx.style.display = 'none';
                    camposPlayFair.style.display = 'none';
                    camposCesar.style.display = 'none';
                    camposHill.style.display = 'none';
                    camposVernam.style.display = 'none';
                    camposVigenere.style.display = 'none';
                    transposicionColumnaInputs.style.display = 'none';
                    camposAfinDescifrado.style.display = 'none';
                    camposAdfgvxDescifrado.style.display = 'none';
                    camposPlayFairDescifrado.style.display = 'none';
                    camposCesarDescifrado.style.display = 'none';
                    camposHillDescifrado.style.display = 'none';
                    camposVernamDescifrado.style.display = 'none';
                    camposVigenereDescifrado.style.display = 'none';
                    transposicionColumnaDescifradoInputs.style.display = 'none';
                    seccionFuerzaBruta.style.display = 'none'; // Ocultar fuerza bruta para Atbash
                    document.getElementById('campos-fuerza-bruta-hill').style.display = 'none';
                    document.getElementById('transposicionColumnaFuerzaBruta').style.display = 'none';
                    document.getElementById('transposicionFilasFuerzaBruta').style.display = 'none';
                    document.getElementById('railFenceFuerzaBruta').style.display = 'none';
                    textoPlano.style.display = 'none';
                    textoPlanoAdfgvx.style.display = 'none';
                    textoPlanoPlayFair.style.display = 'none';
                    textoPlanoCesar.style.display = 'none';
                    textoPlanoHill.style.display = 'none';
                    textoPlanoVernam.style.display = 'none';
                    textoPlanoVigenere.style.display = 'none';
                    textoPlanoTransposicionColumna.style.display = 'none';
                    textoPlanoAtbash.style.display = 'block';
                    textoCifrado.style.display = 'none';
                    textoCifradoAdfgvx.style.display = 'none';
                    textoCifradoPlayFair.style.display = 'none';
                    textoCifradoCesar.style.display = 'none';
                    textoCifradoHill.style.display = 'none';
                    textoCifradoVernam.style.display = 'none';
                    textoCifradoVigenere.style.display = 'none';
                    textoCifradoTransposicionColumna.style.display = 'none';
                    textoCifradoAtbash.style.display = 'block';
                } else if (valor === 'transposicionFilas') {
                    camposAfin.style.display = 'none';
                    camposAdfgvx.style.display = 'none';
                    camposPlayFair.style.display = 'none';
                    camposCesar.style.display = 'none';
                    camposHill.style.display = 'none';
                    camposVernam.style.display = 'none';
                    camposVigenere.style.display = 'none';
                    transposicionColumnaInputs.style.display = 'none';
                    transposicionFilasInputs.style.display = 'block';
                    camposRailFence.style.display = 'none';
                    camposAfinDescifrado.style.display = 'none';
                    camposAdfgvxDescifrado.style.display = 'none';
                    camposPlayFairDescifrado.style.display = 'none';
                    camposCesarDescifrado.style.display = 'none';
                    camposHillDescifrado.style.display = 'none';
                    camposVernamDescifrado.style.display = 'none';
                    camposVigenereDescifrado.style.display = 'none';
                    transposicionColumnaDescifradoInputs.style.display = 'none';
                    transposicionFilasDescifradoInputs.style.display = 'block';
                    camposRailFenceDescifrado.style.display = 'none';
                    seccionFuerzaBruta.style.display = 'block'; // Mostrar fuerza bruta para Transposición por Filas
                    document.getElementById('campos-fuerza-bruta-hill').style.display = 'none';
                    document.getElementById('transposicionColumnaFuerzaBruta').style.display = 'none';
                    document.getElementById('railFenceFuerzaBruta').style.display = 'none';
                    document.getElementById('transposicionFilasFuerzaBruta').style.display = 'block'; // Mostrar campos para fuerza bruta Transposición por Filas
                    textoPlano.style.display = 'none';
                    textoPlanoAdfgvx.style.display = 'none';
                    textoPlanoPlayFair.style.display = 'none';
                    textoPlanoCesar.style.display = 'none';
                    textoPlanoHill.style.display = 'none';
                    textoPlanoVernam.style.display = 'none';
                    textoPlanoVigenere.style.display = 'none';
                    textoPlanoTransposicionColumna.style.display = 'none';
                    textoPlanoAtbash.style.display = 'none';
                    textoPlanoTransposicionFilas.style.display = 'block';
                    textoPlanoRailFence.style.display = 'none';
                    textoCifrado.style.display = 'none';
                    textoCifradoAdfgvx.style.display = 'none';
                    textoCifradoPlayFair.style.display = 'none';
                    textoCifradoCesar.style.display = 'none';
                    textoCifradoHill.style.display = 'none';
                    textoCifradoVernam.style.display = 'none';
                    textoCifradoVigenere.style.display = 'none';
                    textoCifradoTransposicionColumna.style.display = 'none';
                    textoCifradoAtbash.style.display = 'none';
                    textoCifradoTransposicionFilas.style.display = 'block';
                    textoCifradoRailFence.style.display = 'none';
                } else if (valor === 'railFence') {
                    camposAfin.style.display = 'none';
                    camposAdfgvx.style.display = 'none';
                    camposPlayFair.style.display = 'none';
                    camposCesar.style.display = 'none';
                    camposHill.style.display = 'none';
                    camposVernam.style.display = 'none';
                    camposVigenere.style.display = 'none';
                    transposicionColumnaInputs.style.display = 'none';
                    camposRailFence.style.display = 'block';
                    camposAfinDescifrado.style.display = 'none';
                    camposAdfgvxDescifrado.style.display = 'none';
                    camposPlayFairDescifrado.style.display = 'none';
                    camposCesarDescifrado.style.display = 'none';
                    camposHillDescifrado.style.display = 'none';
                    camposVernamDescifrado.style.display = 'none';
                    transposicionColumnaDescifradoInputs.style.display = 'none';
                    camposRailFenceDescifrado.style.display = 'block';
                    seccionFuerzaBruta.style.display = 'block'; // Mostrar fuerza bruta para Rail Fence
                    document.getElementById('campos-fuerza-bruta-hill').style.display = 'none';
                    document.getElementById('transposicionColumnaFuerzaBruta').style.display = 'none';
                    document.getElementById('transposicionFilasFuerzaBruta').style.display = 'none';
                    document.getElementById('railFenceFuerzaBruta').style.display = 'block'; // Mostrar campos para fuerza bruta Rail Fence
                    document.getElementById('transposicionFilasFuerzaBruta').style.display = 'none'; // Ocultar campos para fuerza bruta Transposición por Filas
                    textoPlano.style.display = 'none';
                    textoPlanoAdfgvx.style.display = 'none';
                    textoPlanoPlayFair.style.display = 'none';
                    textoPlanoCesar.style.display = 'none';
                    textoPlanoHill.style.display = 'none';
                    textoPlanoVernam.style.display = 'none';
                    textoPlanoVigenere.style.display = 'none';
                    textoPlanoTransposicionColumna.style.display = 'none';
                    textoPlanoAtbash.style.display = 'none';
                    textoPlanoRailFence.style.display = 'block';
                    textoCifrado.style.display = 'none';
                    textoCifradoAdfgvx.style.display = 'none';
                    textoCifradoPlayFair.style.display = 'none';
                    textoCifradoCesar.style.display = 'none';
                    textoCifradoHill.style.display = 'none';
                    textoCifradoVernam.style.display = 'none';
                    textoCifradoVigenere.style.display = 'none';
                    textoCifradoTransposicionColumna.style.display = 'none';
                    textoCifradoAtbash.style.display = 'none';
                    textoCifradoRailFence.style.display = 'block';
                }
            }

            // Funciones para generar matrices aleatorias
            document.getElementById('generarMatrizAdfgvx').addEventListener('click', function () {
                generarMatrizAleatoria('matrizAdfgvxCifrado');
            });

            document.getElementById('generarMatrizAdfgvxDescifrado').addEventListener('click', function () {
                generarMatrizAleatoria('matrizAdfgvxDescifrado');
            });

            function generarMatrizAleatoria(elementId) {
                // Conjunto de caracteres posibles para la matriz (letras y números)
                const caracteres = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789';
                let matriz = '';
                let caracteresUsados = new Set();

                // Generar 36 caracteres únicos aleatorios
                while (caracteresUsados.size < 36) {
                    const caracter = caracteres.charAt(Math.floor(Math.random() * caracteres.length));
                    if (!caracteresUsados.has(caracter)) {
                        caracteresUsados.add(caracter);
                        matriz += caracter;
                    }
                }

                document.getElementById(elementId).value = matriz;
            }
        });
    </script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>